dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*
test*.json
stack.yaml.lock

# python generated
Digraph.gv
Digraph.gv.pdf

**__pycache__

RBNF.iml
.idea/
.vscode/
hsbin-dist/
*.zip